@import "https://fonts.googleapis.com/css?family=Lato:400,700";

body,html{
   text-align: center;
   background-color: #eee;
   font-family: 'Lato', sans-serif;
}

#header{
   width: 100%;
   position: fixed;
   display: flex;
   justify-content: space-between;
   top: 0px;
   background-color: #eee;
   padding-top: 10px;
}

#header-img{
   width: 300px;
   height: 34px;
   display: block;
}

#nav-bar{
   width: 35%;
   font-size: 1.1em;
}

ul{
   padding: 0px;
}

li{
   list-style: none;
   line-height: 25px;
}

a {
   color: #000;
   text-decoration: none;
}

nav ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-right: 80px;
}

#main-content{
   max-width: 900px;
   margin-top: 80px;
   margin-left: auto;
   margin-right: auto;
   display: relative;
}

form{
   display: flex;
   flex-direction: column;
   max-width: 30%;
   margin:auto;
}

#email{
   max-width: 275px;
   width: 100%;
   padding: 5px;
   margin:auto;
}

#submit{
   max-width: 150px;
   width: 100%;
   height: 30px;
   margin: auto;
   margin-top: 15px;
   margin-bottom: 20px;
   border: 0;
   background-color: #f1c40f;
   font-size: 1em;
   font-weight: bold;
   text-transform: uppercase;
}

#features{
   display: flex;
   flex-direction: column;
}

.feats{
   display: flex;
   flex-direction: row;
}

.icons{
   width: 20%;
}

.descs{
   width: 80%;
   text-align: left;
}

#icon1, #icon2, #icon3{
   color: #EE5622;
   vertical-align: middle;
   display: flex;
   justify-content: center;
   align-items: center;
}



#features{
   height: 400px;
   margin-bottom: 25px;
}

#feat1{
   height: 33%;
}

#feat2{
   height: 33%;
}

#feat3{
   height: 33%;
}

#video{
   margin-bottom: 25px;
}

#pricing{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

#pric1,#pric2,#pric3{
   width: 30%;
   border: 2px solid black;
   border-radius: 4px;
}

.pric-head{
   height:40px;
   width:100%;
   background-color: #ddd;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}

.pric-desc{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 20px;
}

.pric-desc h2{
 margin: 10px;
}

#footer{
   background-color: #ddd;
   max-width: 900px;
   margin: auto;
   padding: 15px;
   margin-top: 20px;
}

#footer-links ul{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   margin: 0px;
}

#footer-links ul li{
   width:10%;
}

#copyright{
   text-align: right;
   color: #666;
   margin-right: 15px;
}

.select{
   max-width: 150px;
   width: 100%;
   height: 30px;
   margin: auto;
   margin-top: 15px;
   margin-bottom: 20px;
   border: 0;
   background-color: #f1c40f;
   font-size: 1em;
   font-weight: bold;
   text-transform: uppercase;
}

.select:hover, #submit:hover{
   background-color: orange;
   transition: background-color 1s;
}

@media (max-width: 950px){
   #header{
      flex-direction: column;
   }
   #nav-bar{
      width: 100%;
   }
   nav ul{
      margin-right: 100px;
      margin-left: 100px;
   }
   #main-content{
      margin-top: 140px;
   }
}

@media (max-width: 650px){
   #icon1,#icon2,#icon3{
      display: none;
   }
   .descs{
      width: 90%;
      margin-right: auto;
      margin-left: auto;
   }
   #pricing{
      flex-direction: column;
   }
   #pric1,#pric2,#pric3{
      width:90%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
   }
   form{
      max-width: 60%;
   }
   #footer-links ul{
      justify-content: space-between;
   }
   #footer-links ul::before,
   #footer-links ul::after {
      content: '';
      display: block;
   }
}

@media (max-width: 450px){
   nav ul{
      flex-direction: column;
   } 
   #main-content{
      margin-top: 160px;
   }
   form{
      max-width: 90%;
   }
}